<div [formGroup]="formGroup">
    <mat-form-field class="full-width">
        <mat-label>{{title | replace: '*': ''}}</mat-label>
        <input matInput 
               [name]="controlName" 
               [formControlName]="controlName">
        <mat-error *ngIf="validateFields.hasErrorValidate(formControl,'required')">Title is required</mat-error>
        <mat-error *ngIf="validateFields.hasErrorValidate(formControl,'minlength')">
            {{title | replace: '*': ''}} must be at least {{validateFields.lengthValidate(formControl, 'minlength')}} characters
        </mat-error>
        <mat-error *ngIf="validateFields.hasErrorValidate(formControl,'maxlength')">
            {{title | replace: '*': ''}} can be max {{validateFields.lengthValidate(formControl, 'maxlength')}} characters
        </mat-error>
    </mat-form-field>
</div>