<div [formGroup]="formGroup">
    <mat-form-field class="full-width">
        <mat-label>{{title | replace: '*': ''}}</mat-label>
        <input  matInput 
                type="number"
                [min]="min"
                [max]="max"
                [step]="step"
                [name]="controlName"
                [formControlName]="controlName">
        <mat-error *ngIf="validateFields.hasErrorValidate(formControl, 'required')">Rating is required</mat-error>
        <mat-error *ngIf="validateFields.hasErrorValidate(formControl, 'min')">
            Rating min value is {{validateFields.lengthValidate(formControl, 'min')}}
        </mat-error>
        <mat-error *ngIf="validateFields.hasErrorValidate(formControl, 'max')">
            Rating max value is {{validateFields.lengthValidate(formControl, 'max')}}
        </mat-error>
    </mat-form-field>
</div>