<mat-toolbar class="app-title">Register Movie</mat-toolbar>
<div class="main-div">
  <mat-card class="center width50">
    <form [formGroup]="register" (ngSubmit)="save()" (ngReset)="resetForm()">
      <mat-card-content>
          <app-input-text title="Título*" 
                          [formGroup]="register"
                          controlName="title">
          </app-input-text>
          <app-input-text title="Picture Url" 
                          [formGroup]="register"
                          controlName="pictureUrl">
          </app-input-text>
          <mat-form-field class="full-width">
              <input matInput 
                    readonly
                    [matDatepicker]="picker" 
                    placeholder="Release Date*"
                    name="releaseDate" 
                    formControlName="releaseDate"
                    (click)="picker.open()">
              <mat-error *ngIf="validateFields.hasErrorValidate(f.releaseDate, 'required')">Release Date is required</mat-error>      
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <app-input-textarea title="Description" [formGroup]="register" controlName="description">
          </app-input-textarea>
          <app-input-number title="IMDb Rating*" 
                            [formGroup]="register"
                            controlName="rating"
                            step="0.1"
                            >
          </app-input-number>
          <app-input-text title="IMDb Url" 
                          [formGroup]="register"
                          controlName="imdbUrl">
          </app-input-text>
          <mat-form-field class="full-width">
            <mat-select placeholder="Genre*" formControlName="genre">
              <mat-option value="Action">Action</mat-option>
              <mat-option value="Adventure">Adventure</mat-option>
              <mat-option value="Comedy">Comedy</mat-option>
              <mat-option value="Drama">Drama</mat-option>
              <mat-option value="Fantasy">Fantasy</mat-option>
              <mat-option value="Horror">Horror</mat-option>
              <mat-option value="Romance">Romance</mat-option>
              <mat-option value="Science Fiction">Science Fiction</mat-option>
              <mat-option value="Thriller">Thriller</mat-option>
              <mat-option value="Western">Western</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-error *ngIf="validateFields.hasErrorValidate(f.genre, 'required')">Genre is required</mat-error>
        </mat-card-content>
        <mat-card-actions>
          <button type="submit" color="accent" mat-raised-button>Save</button>
          <button type="reset" color="warn" mat-raised-button>Cancel</button>
        </mat-card-actions>
    </form>
  </mat-card>
</div>
